<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Список пользователей</title>
</head>

<body>

    <div id="app">
        <div v-for="(user, key) in users">
            <label v-bind:for="users[key]">{{users[key]}}</label>
            <input v-bind:id="users[key]" type="checkbox" v-model="checkedNames[key]">
        </div>
        <br>
        <div>
            <label for="new-user">Добавить пользователя </label>
            <input id="new-user" v-on:keyup.enter="setUsers()" v-model="newUser">
        </div>
        <br>
        <div>Отмеченные имена: {{ getCheckedNames() }}</div>
    </div>

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const users = ["Иван", "Мария", "Светлана", "Сергей"];

        window.addEventListener('load', function(){
            const app = new Vue({

                el: '#app',

                data: {
                    users,
                    checkedNames: [],
                    newUser: null
                },

                methods: {

                    getCheckedNames() {

                        let listCheckedNames = [];

                        this.users.forEach((item, index) => {

                            if (this.checkedNames[index]) {
                                listCheckedNames.push(this.users[index]);
                            } else {
                                listCheckedNames.splice(index,1);
                            }
                        });

                        return listCheckedNames.join('; ');
                    },

                    setUsers() {
                        let isExist = this.users.some(item => item === this.newUser);

                        if(isExist) {
                            alert(`Пользователь ${this.newUser} уже существует`)
                        } else {
                            this.users.push(this.newUser);
                        }
                    }
                }

            });
        });
    </script>
</body>

</html>
